{% extends 'index.html' %}

{% block public %}
    <div class="edit_header col-sm-offset-5">
        <h2>预约信息详情</h2>
    </div>
    <div class="class1">
        <h4>预约详细信息</h4>
    </div>
    <form class="body_header form-horizontal" action="checkTask.html" method="post">
        {% csrf_token %}
        <div class="form-group">
            <span class="col-sm-2 control-label">机构名称：</span>
            <span class="check_date">
                {% for foo in task_obj.organ.all %}
                    {{ foo }}
                {% endfor %}
            </span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">产品分类：</span>
            <span class="check_date">{{ task_obj.classify.classify }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">任务成员：</span>
            <span class="check_date">{{ task_obj.Task_person }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">任务级别：</span>
            <span class="check_date">{{ task_obj.level.level }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">发布时间：</span>
            <span class="check_date">{{ task_obj.create_time }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">操作时间：</span>
            <span class="check_date">{{ task_obj.date_time }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">任务内容：</span>
            <span class="check_date">{{ task_obj.content }}</span>
        </div>
        <div class="btn_bottom col-sm-6 col-md-offset-4">
            <a href="/wang/task/">
                <button type="button" class="btn btn-primary col-sm-2">关闭</button>
            </a>
        </div>
    </form>
{% endblock %}