{% extends 'index.html' %}

{% block public %}
    <div class="edit_header col-sm-offset-5">
        <h2>预约信息详情</h2>
    </div>
    <div class="class1">
        <h4>预约详细信息</h4>
    </div>
    <form class="body_header form-horizontal" action="checkBespeak.html" method="post">
        {% csrf_token %}
        <div class="form-group">
            <span class="col-sm-2 control-label">机构名称：</span>
            <span class="check_date">{{ check_list.organ.name }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">预约时间：</span>
            <span class="check_date">{{ check_list.create_time }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">操作人：</span>
            <span class="check_date">{{ check_list.operator }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">预约状态：</span>
            <span class="check_date">{{ check_list.state.res_state }}</span>
        </div>
        <div class="form-group">
            <span class="col-sm-2 control-label">操作时间：</span>
            <span class="check_date">{{ check_list.data_time }}</span>
        </div>
        <div class="btn_bottom col-sm-6 col-md-offset-4">
            <a href="/wang/bespeak/">
                <button type="button" class="btn btn-primary col-sm-2">关闭</button>
            </a>
        </div>
    </form>
{% endblock %}