{% extends "index.html" %}
{% block public %}  <!-- 扩展base中的block content部分 -->

    <div class="container">
        <h1 class="text-center">用户授权信息</h1>


        <form action="/userpermission/accredit/" class="form-horizontal" method="post">
         <p><strong>用户授权基本信息</strong></p>
        <hr>
            {% csrf_token %}
            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-10">
                    <input type="text" name="username" id="input1">
                </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-2 control-label">员工姓名：</label>
                <div class="col-sm-8">
                    <input type="text" name="employee_name" id="input2">
                    <button type="button" class="btn btn-default btn-sm" id="select">查询</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">管理员分类：</label>
                <div class="col-sm-10">
                    <select name="role">
                        {% for role in role_list %}
                            <option>{{ role.role_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">部门名称：</label>
                <div class="col-sm-10">
                    <span id="department"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">职位名称：</label>
                <div class="col-sm-10">
                    <span id="job"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">授权状态：</label>
                <div class="col-sm-10">
                    <select name="accedit_status">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                    </select>
                </div>
            </div>

                <button type="submit" id="save" class="btn btn-primary btn-lg center-block">确定保存</button>
        </form>

    </div>
    <script src="/static/static_fei/bootstrap/csrfajax.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#select").click(function () {
                var username=$("#input1").val()
                var employee_name=$("#input2").val()
                {#alert(username)#}
                {#alert(employee_name)#}
                $.ajax({
                    url: "/userpermission/select/",
                    type: "post",
                    data: {
                        "username": username,
                        "employee_name": employee_name,
                        "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function (data) {
                        if (data.status){//说明成功查询
                            $("#department").text(data.department_name);
                            $("#job").text(data.job_name);
                        }
                        else{
                            alert("请输入正确的用户名和员工姓名")
                        }

                    }
                })
            })
        });
    </script>



{% endblock %}