{% extends 'index.html' %}

{% block public %}
    <div class="container">
    <br/>
    <h2 class="text-center"><em>添加新用户</em></h2>
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h1 class="panel-title">添加新用户</h1>
            </div>
            <div class="panel-body">
                <form action="/register/" method="post" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">选择身份</label>
                        <div class="col-sm-10">
                        <select  name="select_employee">
                            {% for employee in employee_list %}
                                <option value="{{ employee.id }}">
                                    员工姓名：{{ employee.employee_name }}&nbsp;&nbsp;
                                    部门：{{ employee.department.department_name }}&nbsp;&nbsp;
                                    职位：{{ employee.job.job_name }}
                                </option>
                            {% endfor %}
                         </select>
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="passwd1" name="password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="passwd2" name="password2">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg center-block">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<div class="col-lg-6 col-lg-offset-3" style="border: solid darkgrey;">
    <br/>

    <h1 style="color: darkred;">登录客户资源信息管理系统</h1>
    <form>
        {% csrf_token %}
        <div class="form-group">
            用户名<a href="#">（找回）</a>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            密码<a href="#">（重置）</a>
            <input type="password" class="form-control" id="password" name="password">
        </div>

         <div class="form-group">
                <label for="valid_code" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-10">
                    <input type="text" name="valid_code" id="valid_code">
                    <img id="valid-img" class="valid-img" src="/get_valid_img.png?" alt="">
                </div>
            </div>
        <br/>
        <button type="button" class="btn btn-danger" id="bth_login">登录</button>
        <br/>
        <span class="login-error"></span>
        <p>
        <h3>
            {{ login_error }}
        </h3>
        </p>
        <a href="/register/">&gt;&gt;&gt;立即注册</a>
        <br/>
    </form>
</div>

<script>
        $("#bth_login").click(function () {
        // 1. 取到用户填写的用户名和密码 -> 取input框的值
        var username = $("#username").val();
        var password = $("#password").val();
        var valid_code = $("#valid_code").val();
        // 2. 用AJAX发送到服务端
        $.ajax({
            url: "/login/",
            type: "post",
            data: {
                "username": username,
                "password": password,
                "valid_code": valid_code,
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                console.log(data);
                if (data.status){
                    // 有错误，在页面上提示
                    $(".login-error").text(data.msg);
                }else {
                    // 登陆成功
                    location.href = data.msg;
                }
            }
        })
    });

    // 当input框获取焦点时将之前的错误清空
    $("#username,#password").focus(function () {
        // 将之前的错误清空
        $(".login-error").text("");
    });

    // 点击验证码图片 刷新验证码
    $("#valid-img").click(function () {
        $(this)[0].src += "?";
    })
</script>