{% extends "index.html" %}
{% block public %}  <!-- 扩展base中的block content部分 -->

    <div>
        <h1 class="text-center">用户资料信息表</h1>
        <button class="btn btn-default btn-lg" ><a href="/register/">新增用户</a></button>
        <button class="btn btn-default btn-lg" ><a href="/userpermission/accredit/">用户授权</a></button>
        <table class="table table-striped">
            <thead>
                <th>编号</th>
                <th>用户名</th>
                <th>管理员分类</th>
                <th>员工姓名</th>
                <th>部门名称</th>
                <th>创建日期</th>
                <th>操作</th>
            </thead>
            <tbody>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.nid }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for i in user.role.all %}
                                {{ i.role_name }}
                            {% endfor %}
                        </td>
                        <td>{{ user.employee.employee_name }}</td>
                        <td>{{ user.employee.department.department_name }}</td>
                        <td>{{ user.create_time |date:"Y-m-d H:i" }}</td>

                        <td>
                            <a href="/userpermission/edit_user/{{ user.nid }}/">
                                <button class="btn btn-info">编辑</button>
                            </a>
                            <a href="/userpermission/delete_user/{{ user.nid }}/">
                                <button class="btn btn-primary">删除</button>
                            </a>
                            <a href="/userpermission/cat_user/{{ user.nid }}/">
                                <button class="btn btn-danger">查看</button>
                            </a>
                        </td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>


    </div>



{% endblock %}