{% extends 'index.html' %}
{% block public %}
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/msg/new_chance/">新增商机</a></li>
                </ul>
                <form class="navbar-form navbar-right" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入关键字">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="bs-example" data-example-id="simple-table">
        <table class="table">
            {#    <caption><button class=btn-primary">新增机构</button></caption>#}
            <thead>
            <tr>
                <th>编号</th>
                <th>机构名称</th>
                <th>机构级别</th>
                <th>阶段状态</th>
                <th>跟进状态</th>
{#                <th>经办人</th>#}
                <th>联系人</th>
                <th>审核状态</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            {% for foo in obj %}
                <tr>
                    <td>{{ foo.id}}</td>
                    <td>{{ foo.inst.name }}</td>
                    <td>{{ foo.inst.iclass }}</td>
                    <td>{{ foo.stage }}</td>
                    <td>{{ foo.fol }}</td>
                    <td>{{ foo.inst.contact.cname }}</td>
                    <td>{{ foo.inst.istatus }}</td>
                    <td>
                        <a href="/msg/edit_chance/{{ foo.inst.id }}/">编辑</a>
                        <a href="/msg/del_chance/{{ foo.id }}/">删除</a>
                        <a href="/msg/inst_info/{{ foo.inst.id }}/">查看</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}